* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
}

/* QR Image */
.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Heading */
.card h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
}

/* Paragraph */
.card p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  padding: 0 10px 20px;
}
